@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

    // font-family: 'Source Code Pro', monospace;

body, html, div, span, label, section, aside, footer, header, nav, video, table, tr, td, th {
    font-size: 100%;
    /* 모바일 폰트 크기 조정에 따른 관련 부분 (모바일 사이즈와 관계없이 동일한 크기) */
    -ms-text-size-adjust: 100%;
    /* IE */
    -webkit-text-size-adjust: 100%;
    /* 크롬, 사파리 */
    -o-text-size-adjust: 100%;
    /* 오페라 */
    -moz-text-size-adjust: 100%;
    /* 파이어폭스 */
}
@mixin object($w,$h) {
    width: $w;
    height: $h;
}
@mixin mobject($w,$h) {
    max-width: $w;
    height: $h;
}
@mixin lobject($w,$h) {
    width: $w;
    height: $h;
    line-height: $h;
    text-align: center;
}
@mixin back_img($img) {
    background-image: url($img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
ul, ol, dl {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
 // font-family: 'Source Code Pro', monospace;
body {
    margin: 0;
    padding: 0;
    // background: linear-gradient(-45deg, #d2feff, #fbf7b8, #f6BEE5,#a39cf2);
    // background: linear-gradient(-15deg, #d2feff , #fff ,#fff, #fff, #a39cf2);
    background: linear-gradient(-15deg, #d2feff , #fff, #a39cf2);
    // background: linear-gradient(-15deg, #d2feff, #a39cf2);
   
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}
h4 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
}









.root {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    & > .box1 {
        // height: 100vh;
        @include object(30%, 100vh);
        // padding-left: 12px;
        position: sticky;
        background: linear-gradient( 90deg, rgba(0, 0, 0, 0.4), transparent);
        color: white;
        top: 0;
        & > div{
            @include object(100%,auto);
            padding: 15px 0 15px 40px;
            & > ul {
                
                & > li {
                    & > .atag {
                        display: none;
                    }
                    padding: 10px;
                    font-size: 20px;
                    &  .sns_ico {
                        font-size: 35px;
                    }
                    & > span {
                        display: block;
                        @include object(200px, 200px);
                        &:hover {
                            transition: 0.3s all ease;
                            transform: scale(1.05);
                        }
                    }
                    & > .highlight {
                        display: inline;
                    }
                    & > label {
                        display: block;
                    }
                    & > label:last-of-type {
                        font-size: 15px;
                        opacity: 0.5;
                    }
                    & > .more{
                        margin-top: 20px;
                        display: none;
                    }
                    
                }
                & > .copyright{
                    font-size: 14px;
                    opacity: 0.5;
                }
            }
        }
    }
    & > .box2 {
        @include object(60px, 400px);
        position: sticky !important;
        top: 0;
        & > ul {
            font-size: 50px;
            padding-top: 50px;
            & > li {
                transition: 0.3s transform ease;
                padding: 10px 0;
                &:hover {
                    transition: 0.3s all ease;
                    transform: rotate(15deg);
                }
            }
        }
    }

    & > .box3 {
        @include object(62.5%, auto);
        padding-right: 12px;
        position: relative;
        & > div {
            @include object(100%,auto);
            padding: 30px;
            & h3 {
                
                font-size: 25px;
                margin: 10px;
                font-weight: 400;
                padding-top: 10px;
            }
            & > ul {
                
                transition: 0.5s all ease;

                @include object(100%, auto);
                // border: 1px solid rgb(232, 232, 232);
                margin-bottom:30px;
                background: rgba( 255, 255, 255, 0.25 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 5.0px );
                -webkit-backdrop-filter: blur( 5.0px );
                border-radius: 20px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                padding: 20px 15px;
                font-size: 20px;
            }
            & > ul:first-of-type {
                opacity: 1;
                transition: 0.5s all ease;
            }
            & > .introduce {
                @include object(100%, auto);
                // border: 1px solid rgb(232, 232, 232);
                margin-bottom:30px;
                background: rgba( 255, 255, 255, 0.25 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 5.0px );
                -webkit-backdrop-filter: blur( 5.0px );
                border-radius: 20px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                padding: 20px 15px;
                
                & > li {
                    font-weight: 300;
                    // word-spacing: -7px;
                }
                
                & > .intro {
                    padding: 20px 0;
                }
                .skills_title {
                    & > fieldset {
                        border: none;
                        border-top: 1px solid rgba( 255, 255, 255, 0.18 );
                        margin: 0;
                        padding-bottom: 0;
                        color : rgba(255,255,255,0.75);
                        & > legend {
                            padding: 10px;
                        }
                    }
                }
                & > .skills {
                    padding: 20px 0;
                    display: flex;
                    flex-wrap: wrap;
                    & > dl {
                        position: relative;
                        @include object(130px, auto);
                        font-size: 19px;
                        & > dt {
                            @include object(80%, auto);
                            margin: 0 auto;
                            
                        }
                        & > dd {
                            @include lobject(100%, 20px);
                            margin: 0;
                            &:last-of-type {
                                opacity: 0;
                                background: rgba( 255, 255, 255, 0.9 );
                                border-radius: 15px;
                                @include object(260px, 130%);
                                position: absolute;
                                top: 0;
                                left: -50%;
                                z-index: 60;
                                font-size: 15px;
                                padding: 10px;
                                text-align: left;
                                & > span {
                                    display: block;
                                    position: absolute;
                                    bottom: 100%;
                                    width: 100px;
                                    height: 30px;
                                    line-height: 30px;
                                    font-size:19px;
                                }
                            }   
                        }
                        &:hover >  dd:last-of-type {
                            opacity: 1;
                            transition: 0.4s all ease;
                        }
                    }
                }
            }
            
            & .info > li {
                font-weight: 300;
                font-size: 16px;
            }
            & .contacts {
                & li {
                    padding: 10px 0;
                    text-align: center;
                    & > input {
                        @include object(100%, 40px);
                        border: 1px solid #b0cae2;
                        background-color: transparent;
                        border-radius: 5px;
                        text-indent: 5px;
                        &:focus {
                            outline: none;
                            background: rgba(255,255,255,0.5);
                        }
                    }   
                    & > textarea {
                        resize: none;
                        @include object(100%, 80px);
                        background-color: transparent;
                        padding: 10px 1px;
                        text-indent: 5px;
                        border: 1px solid #b0cae2;
                        border-radius: 5px;
                        &:focus {
                            outline: none;
                            background: rgba(255,255,255,0.5);
                        }
                    }
                    & > button {
                        @include object(30%, 40px);
                        border: none;
                        font-size: 15px;
                        background-color: #7c69a3;
                        border-radius: 5px;
                        color: white;
                    }
                }
                
                 
            }
                
            
            .projects_title {
                opacity: 0;
                transition: 0.5s all ease;
            }
            .projects {
                opacity: 0;
                transition: 0.5s all ease;

                & > dl {
                    @include object(100%, auto);
                    display: flex;
                    justify-content: space-between;
                    & > dt {
                        position: relative;
                        @include object(50%, auto);
                        & > span {
                            position: relative;
                            display: block;
                            border-radius: 15px;
                            overflow: hidden;
                            & > img {
                                display: block;
                            }
                            & > label {
                                @include object(100%, 100%);
                                background-color: rgba(255,255,255,0.7);
                                color: #555;
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                text-align: center;
                                padding: 30% 0;
                            }
                            &:hover > label{
                                opacity: 1;
                                transition: 0.5s all ease;
                            }
                        }
                    }
                    & > dd {
                        margin: 0;
                        @include object(45%, auto);
                        & > img {
                            border-radius: 15px;
                        }
                        
                    }
                    & > .hellopet_m {
                        display: flex;
                        justify-content: space-evenly;
                        & > span {
                            border-radius: 15px;
                            overflow: hidden;
                            width: 46%;
                            & > img{
                                width: 100%;
                            }
                            & > label {
                                @include object(100%, 100%);
                                background-color: rgba(255,255,255,0.7);
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                text-align: center;
                                color: #555;
                                padding: 80% 0;
                            }
                        }
                    }
                    & > .mobile_ver {
                        display: flex;
                        justify-content: center;
                        & > span {
                            width: 50%;
                            border-radius: 15px;
                            overflow: hidden;
                            display: block;
                            & > img {
                                width: 100%;
                            }
                            & > label {
                                @include object(100%, 100%);
                                background-color: rgba(255,255,255,0.7);
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                text-align: center;
                                color: #555;
                                padding: 80% 0;
                            }

                        }
                    }
                }
            }




        }
    }
}

.copyright_m {
    display: none;
}

.main_contents {
    font-size: 15px;
}

.bold {
    font-size: 30px;
    font-weight: 900;
    display: block;
}
.dark_box {
    background: #242629 !important;
    transition: box-shadow 0.3s ease 0s;
    box-shadow: none !important;
}
.atag {
    color: #2f6eff !important;
}
.map {
    @include object(100%, 300px);
    margin-top: 15px;
}


.show {
    opacity: 1 !important;
    transform: translate(0, 10px);
}