@charset "UTF-8";
@mixin object($w,$h) {
    width: $w;
    height: $h;
}
@mixin lobject($w,$h) {
    width: $w;
    height: $h;
    line-height: $h;
    text-align: center;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.wrapper {
    padding: 0 15px;
}
h2 {
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}
.main {
    & > li {
        @include lobject(100%, 60px);
        & > input {
            @include object(100%, 40px);
            border: none;
            background-color: #eee;
            text-indent: 10px;
        }
        & > input[type="button"]{
            background-color: #000;
            color: white;
            text-indent: 0;
        }

    }
    & > .keyboard_box {
        display: none;
        @include object(100%, auto);
        padding: 0 20px;
        & > ol {
            @include object(100%, auto);
            display: flex;
            flex-wrap: wrap;
            & > li {
                @include lobject(33.3%, 35px);
                background-color: #ccc;
                border-right: 1px solid #eee;
                border-bottom: 1px solid #eee;
            }
        }
        & > span {
            display: block;
            @include lobject(100%, 40px);
            & > input {
                @include object(60px, 30px);
                border: none;
                background-color: #000;
                color: white;
            }
        }
    }
}